<!-- Save to DB -->
<h4>Setup</h4>
<button (click)="EnterValuesIntoDB()">Setup Data</button>

<!-- Get Values -->
<h4>Data - {{AllData}}</h4>
<button (click)="GetData()">GetData</button>


<!-- Mean -->
<h4>CalculateArithmeticMean - {{Mean}}</h4>
<button (click)="CalculateArithmeticMean()">CalculateArithmeticMean</button>

<!-- Standard Deviation -->
<h4>CalculateStandardDeviation - {{StandardDeviation}}</h4>
<button (click)="CalculateStandardDeviation()">CalculateStandardDeviation</button>

<!-- Bins -->
<h4>ComputeFrequenciesOfBinSize10 - {{BinFrequencies}}</h4>
<button (click)="ComputeFrequenciesOfBinSize10()">ComputeFrequenciesOfBinSize10</button>